<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>hjbj</string>
		<key>title</key>
		<string>匆匆那年</string>
		<key>singer</key>
		<string>王菲</string>
		<key>url</key>
		<string>http://yinyueshiting.baidu.com/data2/music/124383833/12438064524840064.mp3?xcode=816417b51eca2303bd5cc648288db746</string>
	</dict>
	<dict>
		<key>image</key>
		<string>wbm</string>
		<key>title</key>
		<string>雪花神剑</string>
		<key>singer</key>
		<string>未知</string>
		<key>url</key>
		<string>thunder://QUFodHRwOi8vdGluZ2dlLjVuZC5jb20vMjAwNjA5MTkvMjAxNS8yMDE1LTktMTUvNjg3MTcvMy5tcDNaWg==</string>
	</dict>
	<dict>
		<key>image</key>
		<string>xzh</string>
		<key>title</key>
		<string>心之火</string>
		<key>singer</key>
		<string>飞儿乐队</string>
		<key>url</key>
		<string>http://yinyueshiting.baidu.com/data2/music/244452974/24237581118360064.mp3?xcode=b87c900c2d15f3cd0d9b8f0c677c76d2</string>
	</dict>
	<dict>
		<key>image</key>
		<string>rgds</string>
		<key>title</key>
		<string>如果当时</string>
		<key>singer</key>
		<string>许嵩</string>
		<key>url</key>
		<string>http://yinyueshiting.baidu.com/data2/music/123328598/25235223040064.mp3?xcode=959c0a00cd99d73629676627b54cb918</string>
	</dict>
	<dict>
		<key>image</key>
		<string>stronger</string>
		<key>title</key>
		<string>stronger</string>
		<key>singer</key>
		<string>Kelly Clarkson</string>
		<key>url</key>
		<string>http://lx.cdn.baidupcs.com/file/941dd8de9a286eafbc8e96c23aa72a1e?bkt=p2-qd-266&amp;xcode=8ac21c0d462e2dfb6b5dbbcbebb53f1305fd995c94bf19d5837047dfb5e85c39&amp;fid=1079230802-250528-165176755594565&amp;time=1442838449&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-YjIsuy5wwXPN9eaQWwtWYM%2BhWbc%3D&amp;to=hc&amp;fm=Nan,B,G,ny&amp;sta_dx=3&amp;sta_cs=608&amp;sta_ft=mp3&amp;sta_ct=5&amp;fm2=Nanjing,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400941dd8de9a286eafbc8e96c23aa72a1e3515b3b4000000363408&amp;sl=68485198&amp;expires=8h&amp;rt=sh&amp;r=280502827&amp;mlogid=6119482684828292805&amp;vuk=155256774&amp;vbdid=2664098724&amp;fin=Stronger%20%28What%20Doesn%27t%20Kill%20You%29.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6119482684828292805&amp;dp-callid=0.1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bty</string>
		<key>title</key>
		<string>白头吟</string>
		<key>singer</key>
		<string>叮当</string>
		<key>url</key>
		<string>http://211.162.213.215/ws.cdn.baidupcs.com/file/bd06884d8558cc80abe3afac9cd64744?bkt=p2-nj-765&amp;xcode=bd452e12c45292ee601d86235045cd5d7a14ff739d19d77cf77424e07ee197d9&amp;fid=2824017749-250528-799640305967076&amp;time=1442838711&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-Nyw6sNr6p8Wslv%2FNQE1nmCwknME%3D&amp;to=hc&amp;fm=Nin,B,G,ny&amp;sta_dx=4&amp;sta_cs=1098&amp;sta_ft=mp3&amp;sta_ct=6&amp;fm2=Ningbo,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400bd06884d8558cc80abe3afac9cd64744374aba4600000042bee0&amp;sl=68026446&amp;expires=8h&amp;rt=sh&amp;r=806258660&amp;mlogid=6119552930077958460&amp;vuk=155256774&amp;vbdid=2664098724&amp;fin=白头吟.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6119552930077958460&amp;dp-callid=0.1&amp;wshc_tag=0&amp;wsts_tag=55fff8b7&amp;wsid_tag=7cc8b346&amp;wsiphost=ipdbm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cldyg</string>
		<key>title</key>
		<string>城里的月光</string>
		<key>singer</key>
		<string>许美静</string>
		<key>url</key>
		<string>http://yinyueshiting.baidu.com/data2/music/124483073/20969210080064.mp3?xcode=c98f643cbbd1864c86c86b4d2d72cc37</string>
	</dict>
	<dict>
		<key>image</key>
		<string>zxmzf</string>
		<key>title</key>
		<string>最炫名族风</string>
		<key>singer</key>
		<string>凤凰传奇</string>
		<key>url</key>
		<string>http://lx.cdn.baidupcs.com/file/15b0e6cc11a31de0ca565f3de3015556?bkt=p2-qd-61&amp;xcode=31959edeb5f9ceaa9bf87928930b7eca00354bea7a65f3ae8bb5ee938cac2427&amp;fid=1716766033-250528-651533448111042&amp;time=1442846754&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-5aa6xlYHR8GgyCC4rHfXBzB9Jbs%3D&amp;to=lc&amp;fm=Nan,B,G,ny&amp;sta_dx=4&amp;sta_cs=2278&amp;sta_ft=mp3&amp;sta_ct=4&amp;fm2=Nanjing02,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=140015b0e6cc11a31de0ca565f3de30155568c15a742000000455cfc&amp;sl=68485198&amp;expires=8h&amp;rt=sh&amp;r=321478368&amp;mlogid=6121711916375754151&amp;vuk=-&amp;vbdid=2664098724&amp;fin=最炫民族风.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6121711916375754151&amp;dp-callid=0.1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lz</string>
		<key>title</key>
		<string>老街</string>
		<key>singer</key>
		<string>李荣浩</string>
		<key>url</key>
		<string>http://lx.cdn.baidupcs.com/file/7ba835f4df90c7c296de811d2266569f?bkt=p2-nj-73&amp;xcode=74319d57668730425bb748e032d134a961af9c49edda1d36a989d2347423dd6e&amp;fid=4283194947-250528-618397460874942&amp;time=1442847182&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-3IUm61gBKt%2B2nkXhaK%2FHbT4TuXo%3D&amp;to=hc&amp;fm=Nan,B,G,ny&amp;sta_dx=5&amp;sta_cs=6999&amp;sta_ft=mp3&amp;sta_ct=6&amp;fm2=Nanjing,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=14007ba835f4df90c7c296de811d2266569faa26557d0000004ddf9a&amp;sl=68485198&amp;expires=8h&amp;rt=sh&amp;r=339284819&amp;mlogid=6121826855373678379&amp;vuk=-&amp;vbdid=2664098724&amp;fin=老街.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6121826855373678379&amp;dp-callid=0.1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ghsy</string>
		<key>title</key>
		<string>光辉岁月</string>
		<key>singer</key>
		<string>黄家驹</string>
		<key>url</key>
		<string>http://211.162.213.212/ws.cdn.baidupcs.com/file/b66c9f32abb2eb50cb6a8bbf3aef520e?bkt=p2-qd-233&amp;xcode=60b2830e79fc26019fea5c309cb5979f991e808531f471d10047804bae6a1ada&amp;fid=4233346133-250528-264562796918660&amp;time=1442848320&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-N2xBeDjqFagz8rMqA9zEK77kYCg%3D&amp;to=cb&amp;fm=Nan,B,G,ny&amp;sta_dx=5&amp;sta_cs=177&amp;sta_ft=mp3&amp;sta_ct=1&amp;fm2=Nanjing02,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400b66c9f32abb2eb50cb6a8bbf3aef520ea980396f0000004902d2&amp;sl=68485198&amp;expires=8h&amp;rt=sh&amp;r=693413417&amp;mlogid=6122132464902496931&amp;vuk=-&amp;vbdid=2664098724&amp;fin=光辉岁月.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6122132464902496931&amp;dp-callid=0.1&amp;wshc_tag=0&amp;wsts_tag=56001e41&amp;wsid_tag=7cc8612e&amp;wsiphost=ipdbm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>rgyzd</string>
		<key>title</key>
		<string>如果云知道</string>
		<key>singer</key>
		<string>许茹芸</string>
		<key>url</key>
		<string>http://124.14.17.161/ws.cdn.baidupcs.com/file/0606bdeaa4b77c34e890928c876dbedc?bkt=p2-qd-706&amp;xcode=46642fa612b56dac035642b567191a4151efeb92ea936df5a989d2347423dd6e&amp;fid=3444805970-250528-1046532031365190&amp;time=1442848555&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-71RSE%2BMsaA5f%2FeiUc75%2FPXBLhGk%3D&amp;to=cb&amp;fm=Nan,B,G,ny&amp;sta_dx=5&amp;sta_cs=78&amp;sta_ft=mp3&amp;sta_ct=2&amp;fm2=Nanjing,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=14000606bdeaa4b77c34e890928c876dbedcc9ed6041000000504170&amp;sl=68485198&amp;expires=8h&amp;rt=sh&amp;r=552910237&amp;mlogid=6122195345028672423&amp;vuk=-&amp;vbdid=2664098724&amp;fin=如果云知道.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6122195345028672423&amp;dp-callid=0.1&amp;wshc_tag=0&amp;wsts_tag=56001f2b&amp;wsid_tag=7cc8612e&amp;wsiphost=ipdbm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>th</string>
		<key>title</key>
		<string>听海</string>
		<key>singer</key>
		<string>张惠妹</string>
		<key>url</key>
		<string>http://61.136.96.219/ws.cdn.baidupcs.com/file/1fbe431bd25087b20c5323394fe1f029?bkt=p2-qd-171&amp;xcode=3dee904b4ecc9f3ca7e23cb2bb638f655e8968b7230984277f42c5f191c19e11&amp;fid=777248339-250528-699360453824717&amp;time=1442848749&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-uHlym%2FZcqqqEhQJVpvdXlObtBwE%3D&amp;to=cb&amp;fm=Nan,B,G,ny&amp;sta_dx=5&amp;sta_cs=72&amp;sta_ft=mp3&amp;sta_ct=4&amp;fm2=Nanjing,B,G,ny&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=14001fbe431bd25087b20c5323394fe1f029b13e832a0000004e0600&amp;sl=68485198&amp;expires=8h&amp;rt=sh&amp;r=793651625&amp;mlogid=6122247448164709432&amp;vuk=-&amp;vbdid=2664098724&amp;fin=听海.mp3&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=6122247448164709432&amp;dp-callid=0.1&amp;wshc_tag=0&amp;wsts_tag=56001fed&amp;wsid_tag=7cc8612e&amp;wsiphost=ipdbm</string>
	</dict>
</array>
</plist>
